@import 'styles/variables';

.specialMenu {
    flex-direction: column;
    background: $color-black;
}

.specialMenu_title {
    margin-bottom: 2rem;
    text-align: center;
}

.specialMenu_menu {
    width: 100%;
    margin: 2rem 0;

    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: row;
}

.specialMenu_menu_heading {
    font-family: $font-base;
    font-weight: 600;
    font-size: 45px;
    line-height: 58.5px;
    letter-spacing: 0.04em;
    color: $color-white;
}

.specialMenu_menu_wine,
.specialMenu_menu_cocktails {
    flex: 1;
    width: 100%;
    flex-direction: column;
}

.specialMenu_menu_img {
    width: 410px;
    margin: 0 2rem;
}

.specialMenu_menu_img img {
    width: 100%;
    height: auto;
}

.specialMenu_menu_items {
    display: flex;
    flex-direction: column;

    margin: 2rem 0;
    width: 100%;
}

.button_wrapper {
  margin-top: 15px;
}

@media screen and (min-width: 2000px) {
    .specialMenu_menu_img {
        width: 650px;
    }

    .specialMenu_menu_img img {
        height: 920px;
    }
}

@media screen and (max-width: 1150px) {
    .specialMenu_menu {
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .specialMenu_menu_img {
        margin: 3rem 0;
    }
}

@media screen and (max-width: 650px) {
    .specialMenu_menu_img {
        width: 100%;
    }

    .specialMenu_menu_heading {
        font-size: 35px;
        line-height: 48.5px;
    }
}