@import 'styles/variables';

.layout {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: $color-black;

  .container {
    padding-top: 2rem;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}