@import 'styles/variables';

  .wrapper_img {
    position: relative;
    z-index: 99;
    margin: 0 auto;
  }

  .header_h1 {
    font-family: $font-base;
    color: $color-golden;
    font-weight: 700;
    letter-spacing: 3px;
    text-transform: capitalize;
    line-height: 90px;
    font-size: 75px;
  }

  .contact_hours {
    color: $color-golden; 
    margin: 2rem 0;
  }

  .follow_title {
    margin-top: 3.5rem;
  }

  .contact_social {
    margin: 1rem 0;
  }
