@import 'styles/variables';

  .wrapper_img {
    position: relative;
    z-index: 99;
    margin: 0 auto;
  }

  .contact_title {
    margin-bottom: 2rem;
  }

  .contact_hours {
    color: $color-golden; 
    margin: 2rem 0;
  }

  .contact_social {
    margin: 3rem;
  }
